---
import Section from "../Section.astro"
import {certificates} from "@cv"


---



<Section title="Certificados">
    <ul>
      {
        certificates.map(({ name, issuer, url }) => {
          const certName = name
          const who = issuer
          const uri = url

          return(
            <li>
            <article>
              <h3>
                <a href={url} target="_blank" title={`Ver el certificado ${name}`}>
                      {name}
                    </a>
                </h3>
              <h3>{issuer}</h3>  
              </article>

            </li>
          )
        })

      }
    </ul>
  </Section>
  
  <style>
  ul {
    display: inline-flex;
    gap: 8px;
    flex-wrap: wrap;
  }

  li {
    align-items: center;
    background: #eee;
    border-radius: 6px;
    color: black;
    display: flex;
    font-size: 0.8rem;
    font-weight: 500;
    gap: 4px;
    padding: 0.2rem 0.6rem;
  }

  article {
    border-radius: 8px;
    border: 1px solid #f2f2f2;
    gap: 16px;
    display: flex;
    flex-direction: column;
    padding: 16px;
    height: 100%;
  }

  article h3 {
    margin-bottom: 4px;
  }

  article a {
    color: #111;
  }

  article a:hover {
    text-decoration: underline;
  }

  article p {
    font-size: 0.75rem;
    line-height: 1.2rem;
    margin-bottom: 4px;
  }

  article h3 span {
    color: rgb(0, 188, 47);
    animation-name: flicker;
    animation-duration: 3s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
  }
    </style>